$activeColor: #4CAF50;
$inactiveColor: #ccc;
$circleSize: 30px;
$smallCircleSize: 20px; // Adjusted size for inactive circles
$largeCircleSize: 40px; // Adjusted size for active circles

.progress-stepper {
    display: flex;
    align-items: center;
    padding: 10px 50px;
            background-color: rgba(255, 255, 255, 0.7);

}

.line-wrapper {
    flex-grow: 1;
    position: relative;
    display: flex;
    /* Add this line */
    justify-content: center;
    /* Center the contents horizontally */
    // align-items: center;
    // /* Center the contents vertically */
    // height: 2px; // Height of the line

}

.base-line {
    position: absolute;
    height: 2px;
    background-color: #ccc; // Grey color for base line
    width: 100%;
    top: 50%;
    margin-top: -1px;
}

.progress-line {
    position: absolute;
    height: 3px;
    background-color: black; // Black color for progress line
    width: 100%;
    top: 0;
    transform: scaleX(0);
    transform-origin: left;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.circle {
    width: $smallCircleSize;
    height: $smallCircleSize;
    border: 2px solid $inactiveColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;


    img {
        width: 20px;
        height: 20px;
    }
}

.label {
    margin-top: 5px;
    color: $inactiveColor;
    position: relative;
    bottom: -9px;
}

.active {
    .circle {
        width: $largeCircleSize;
        height: $largeCircleSize;
        background-color: black;
        border: 2px solid black;

        img {
            filter: invert(100%);
        }
    }

    .label {
        color: black;
        font-weight: bold;
        font-size: medium;
        bottom: 0px;
    }
}